{# bulma Sliding pagination control implementation #}

{% if pageCount > 1 %}
  <nav aria-label="Page navigation example" class="mt-5">
  <ul class="inline-flex -space-x-px text-base h-10">
    {% if previous is defined %}
    <li>
      <a class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700" href="{{ path(route, query|merge({ (pageParameterName): previous })) }}">Page précédente</a>
    </li>
    {% else %}
    <li>
      <a class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg opacity-50 cursor-not-allowed noLoading" disabled>Page précédente</a>
    </li>
    {% endif %}

    {% if first != current %}
    <li>
    <a class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700" href="{{ path(route, query|merge({ (pageParameterName): first })) }}">1</a>
    </li>
    {% else %}
    <li>
    <a aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 cursor-not-allowed noLoading"  disabled>1</a>
    </li>
    {% endif %}

    {% if pagesInRange[0] - first >= 2 %}
    <li>
      <a class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 opacity-50 cursor-not-allowed noLoading" disabled><i class="fa-solid fa-ellipsis"></i></a>
    </li>
    {% endif %}
    {% for page in pagesInRange %}
      {% if first != page and page != last %}
        {% if page != current %}
    <li>
          <a class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700" href="{{ path(route, query|merge({ (pageParameterName): page })) }}">{{ page }}</a>
    </li>
        {% else %}
    <li>
          <a aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50-700 noLoading cursor-not-allowed"  disabled>{{ page }}</a>
    </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if last - pagesInRange[(pagesInRange|length) - 1] >= 2 %}
    <li>
      <a class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 opacity-50 cursor-not-allowed noLoading" disabled><i class="fa-solid fa-ellipsis"></i></a>
    </li>
    {% endif %}

    {% if last != current %}
    <li>
    <a class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700" href="{{ path(route, query|merge({ (pageParameterName): last })) }}">{{ last }}</a>
    </li>
    {% else %}
    <li>
    <a aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 noLoading cursor-not-allowed"  disabled>{{ last }}</a>
    </li>
    {% endif %}

    {% if next is defined %}
    <li>
      <a class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700" href="{{ path(route, query|merge({ (pageParameterName): next })) }}">Page suivante</a>
    </li>
    {% else %}
    <li>
      <a class="flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg opacity-50 cursor-not-allowed noLoading" disabled>Page suivante</a>
    </li>
    {% endif %}
  </ul>
  </nav>
{% endif %}
