<turbo-frame id="formulaire_saisie">
    {{ form_start(formHeures, { action: path('soumission_formulaire', {typeId: type.id})}, {'attr': {'data-turbo-disable': 'true'}}) }}

        <div class="flex md:flex-row" id="divOrdre">
            <div class="flex-1 md:text-right md:self-center m-3">
                {{ form_label(formHeures.ordre, "<b>Ordre</b>", { 'label_html': true }) }}
            </div>
            <div class="flex-1 text-left md:self-center items-center">
                <div class="mx-3">
                    <div class="flex items-center gap-2 max-w-40 border border-gray-300 rounded-lg px-1 bg-white">
                        <span class="px-2" style="pointer-events: none;">{{ site }}</span>
                        {{ form_widget(formHeures.ordre, {attr: {class: 'input w-24 border-none p-1', placeholder: '12345'}}) }}
                        {% if formHeures.ordre.vars.errors|length > 0 %}
                            <div class="text-red-600 text-sm mt-1 font-bold">
                                {{ form_errors(formHeures.ordre) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="flex md:flex-row" id="divOperation">
            <div class="flex-1 md:text-right md:self-center m-3">
                {{ form_label(formHeures.operation, "<b>Opération</b>", { 'label_html': true }) }}
            </div>
            <div class="flex-1 text-left md:self-center items-center">
                <div class="mx-3 max-w-16">
                    {{ form_widget(formHeures.operation, { attr: {class: 'input dark:border-primary', type: 'number', max: 999, min: 0, step: 10}}) }}
                    {% if formHeures.operation.vars.errors|length > 0 %}
                        <div class="text-red-600 text-sm mt-1 font-bold">
                            {{ form_errors(formHeures.operation) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="flex md:flex-row" id="divSaisieTemps">
            <div class="flex-1 md:text-right md:self-center m-3">
                {{ form_label(formHeures.temps_main_oeuvre, "<b>Temps main d'oeuvre (en h)</b>", { 'label_html': true }) }}
            </div>
            <div class="flex-1 md:flex md:self-center items-center">
                <div class="mx-3">
                    {{ form_widget(formHeures.temps_main_oeuvre, {attr: {class: 'input dark:border-primary max-w-24', type: 'number', max: 12, min: 0.1, step: 0.1}}) }}
                    {% if formHeures.temps_main_oeuvre.vars.errors|length > 0 %}
                        <div class="text-red-600 text-sm mt-1 font-bold">
                            {{ form_errors(formHeures.temps_main_oeuvre) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="flex flex-row justify-center items-center p-2 gap-2">
            <a target="_self" class="btn btn-accent btn-outline mt-5" id="btnReturn" href="{{ path('deconnexion') }}">
                Quitter
            </a>
            <button type="submit" name="action" value="quitter" class="btn btn-primary mt-5" {% if nbHeures >= 12 %}disabled{% endif %} id="btnEnregistrerQuitter">
                Enregistrer et quitter
            </button>
            <button type="submit" name="action" value="continuer" class="btn btn-primary mt-5" {% if nbHeures >= 12 %}disabled{% endif %} id="btnEnregistrerContinue">
                Enregistrer
            </button>
        </div>

        {{ form_widget(formHeures._token) }}

    {{ form_end(formHeures, {'render_rest': false}) }}
</turbo-frame>