{% trans_default_domain 'no_access' %}
{% extends 'base.html.twig' %}
{% block title %}
    {{'Accès interdit'|trans}}
{% endblock %}
{% block body %}
          <div class="flex flex-col justify-center items-center text-center">
            <h1 class="text-4xl text-gruau-red font-bold">{{'erreur survenue'|trans}}</h1>
            <h3 class="text-2xl text-gruau-dark-blue font-bold">{{"pas les droits d'accéder au site"|trans}}</h3>
            <h3 class="text-2xl text-gruau-dark-blue font-bold">{{'permissions attribué'|trans}}</h3>
            <h3 class="text-2xl text-gruau-dark-blue font-bold">{{"Si le problème persiste"|trans}}</h3>
            <a target="_self" class="text-white bg-gruau-light-blue hover:bg-[#00a0cc] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 cursor-pointer" href="{{ path('disconnect_azure') }}">
              <span>{{'Reconnexion'|trans}}&thinsp;</span>
              <span class="icon is-small"><i class="fa-solid fa-arrow-rotate-left"></i></span>
            </a>
          </div>
          <script>
            document.querySelectorAll('nav')[1].style.display = 'none';
          </script>
{% endblock %}
