{% block tbody %}
    <tbody class="text-center">
        {% for heure in employe.heures %}
            <tr class="text-center ligne" data-idligne="{{ heure.id }}" data-date="{{ heure.date|date('d-m-Y', 'Europe/Paris') }}" data-statut="{{ heure.statut.id }}" data-employe="{{ heure.employe.id }}">
            <div class="hidden" name="dateLigne">
                {{ heure.date|date('d-m-Y', 'Europe/Paris') }}
            </div>
                <input type="hidden" name="ligneToken"  value="{{ csrf_token('ligneToken_' ~ heure.id) }}">
                <td>
                    <input type="checkbox" class="checkbox checkbox-primary "{% if heure.statut.id == 2 %} disabled {% endif %} name="checkbox_ligne">
                </td>
                <td>
                    {{ heure.typeHeures.nomType }}
                </td>
                <td>
                    <input type="text" class="input w-full form hidden" value="{{ heure.ordre ?? null }}" name="ordre" maxlength="9" pattern="^[0-9A-Z]{9}$">
                    <p class="texte" name="texte_ordre">{{ heure.ordre ?? null }}</p>
                </td>
                <td>
                    <input type="text" class="input w-full form hidden" value="{{ heure.operation ?? null }}" name="operation"  max="999" min="0" step="10">
                    <p class="texte" name="texte_operation">{{ heure.operation ?? null }}</p>
                </td>
                <td>
                    <input type="text" class="input w-full form hidden" value="{{ heure.activite.id ?? null }}" name="activite"  maxlength="4" pattern="^[0-9]{4}$">
                    <p class="texte" name="texte_activite">{{ heure.activite.id ?? null }}</p>
                </td>
                <td>
                    <select class="select mx-3 w-full form hidden" name="tache">
                        <option value="-1"></option>
                        {% for tache in taches %}
                            <option data-idtype="{{ tache.typeHeures.id }}" value="{{ tache.id }}" {% if tache.id == heure.tache.id ?? null %}selected{% endif %}>{{ tache.id }} - {{ tache.nomTache }}</option>
                        {% endfor %}
                        {% for tache in tachesSpe %}
                            <option value="{{ tache.id }}" {% if tache.id == heure.tacheSpecifique.id ?? null %}selected{% endif %}>{{ tache.id }} - {{ tache.description }}</option>
                        {% endfor %}
                    </select>
                    <p class="texte" name="texte_tache">
                        {% if heure.tache is not empty %}
                            {{ heure.tache.id }} - {{ heure.tache.nomTache }}
                        {% elseif heure.tacheSpecifique is not empty %}
                            {{ heure.tacheSpecifique.id }} - {{ heure.tacheSpecifique.description }}
                        {% endif %}
                    </p>
                </td>
                <td>
                    <select class="select w-full form hidden" name="centrecharge">
                        <option value="-1"></option>
                        {% for centre_charge in CDG %}
                            <option value="{{ centre_charge.id ?? null }}" {% if centre_charge.id == heure.centreDeCharge.id ?? null %}selected{% endif %}>{{ centre_charge.id }}</option>
                        {% endfor %}
                    </select>
                    <p class="texte" name="texte_centrecharge">{{ heure.centreDeCharge.id ?? null }}</p>
                </td>
                <th>
                    <input type="number" class="input w-full form hidden" value="{{ heure.tempsMainOeuvre }}" max="100" step=".25" name="saisieTemps">
                    <p class="texte" name="texte_saisieTemps">{{ heure.tempsMainOeuvre }}</p>
                </th>
                <td>
                    <i class="fa-solid fa-circle-check fa-xl text-success {% if heure.statut.id == 2 %}hidden{% endif %}"></i>
                    <i class="fa-solid fa-circle-xmark fa-xl text-accent {% if heure.statut.id == 3 %}hidden{% endif %}"></i>
                </td>
                <td>
                    <p class="texte">{{ heure.motifErreur ?? null }}</p>
                </td>
                <td>
                    <span class="loading loading-dots loading-lg text-gruau-dark-blue hidden"></span>
                    <button type="button" data-ligne="{{ heure.id }}" class="btn btn-link check hidden" value="" ><i class="fa-solid fa-check fa-xl"></i></button>
                    <button type="button" data-ligne="{{ heure.id }}" class="btn btn-link xmark hidden" value="" ><i class="fa-solid fa-xmark fa-xl"></i></button>
                    <button type="button" data-ligne="{{ heure.id }}" class="btn btn-link pen" value=""><i class="fa-solid fa-pencil fa-xl"></i></i></button>
                    <button type="button" data-ligne="{{ heure.id }}" class="btn btn-link trash" value=""><i class="fa-solid fa-trash-can fa-xl"></i></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
